<!DOCTYPE html>
<html lang="es">
  <head>
    
    <!-- metas and lynks -->
    <%- include('../partials/metasBasics') %>
    <!-- metas and lynks -->

    <link rel="stylesheet" href="/css/product/detalle.css" />
    <title>Inicio</title>
  </head>

  <body>
    
    <!-- header -->
    <%- include('../partials/header') %>
    <!-- header -->

    <main>
      
      <div class="container-detail">
        <div class="div-marca">
          <a class="marca" href="/product/detail/<%= product.id %>"> </a> 
        </div>
        <div class="nombre">
          <%= product.name %> 
        </div>
        <div class="img">
          <img src="/img/products/<%= product.image %> " alt="">
        </div>
        <div class="precio">
         $ <%= product.price %> 
        </div>
        <a class="btn-comprar">COMPRAR</a>
        <a class="btn-agregar">AGREGAR AL CARRITO</a>
      </div>
      <div class="caracts">
        <div class="title-caract">Características del producto</div>
        <div class="caracteristicas"><span class="dot"></span> Color:    <div class="valor"><%= product.color %></div></div>
        <div class="caracteristicas"><span class="dot"></span> Marca:    <div class="valor"><%= product.brand %></div></div>
        <div class="caracteristicas"><span class="dot"></span> Almacenamiento:     <div class="valor"><%= product.memory %></div></div>
        <div class="caracteristicas"><span class="dot"></span> Memoria Ram:    <div class="valor"><%= product.ram %></div></div>
      </div>


      <section class="interes">
        <div class="title-interes">
            TE PUEDE INTERESAR
        </div>
        <% products.forEach(element => { %>
         <div class="item-destacado">
            <img src="/img/products/<%= element.product_img %>" alt="">
            <div class="nombre">
                <a href="/product/detail/<%= element.id %>"><%= element.name %> </a>
            </div>
            <div class="precio">
               $ <%= element.price %> 
            </div>
        </div>
        <% }) %>
        
        
    </section>

    </main>

     <!-- footer -->
     <%- include('../partials/footer') %>
     <!-- footer -->
    
  </body>
</html>
