<!DOCTYPE html>
<html lang="es">
  <head>
    
    <!-- metas and lynks -->
    <%- include('../partials/metasBasics') %>
    <!-- metas and lynks -->

    <link rel="stylesheet" href="/css/product/detalle.css" />
    <title>Inicio</title>
  </head>

  <body>
    
    <!-- header -->
    <%- include('../partials/header') %>
    <!-- header -->

    <main>
      
      <div class="container-detail">
        <div class="div-marca">
          <a class="marca" href="#">MarcaCelular</a> 
        </div>
        <div class="nombre">
          Nombre celular
        </div>
        <div class="img">
          <img src="/img/products/GalaxyNote10Lite.jpg" alt="">
        </div>
        <div class="precio">
         $ 123.123
        </div>
        <a class="btn-comprar">COMPRAR</a>
        <a class="btn-agregar">AGREGAR AL CARRITO</a>
      </div>
      <div class="caracts">
        <div class="title-caract">Características del producto</div>
        <div class="caracteristicas"><span class="dot"></span> Característica 1    <div class="valor">Valor</div></div>
        <div class="caracteristicas"><span class="dot"></span> Característica 2    <div class="valor">Valor</div></div>
        <div class="caracteristicas"><span class="dot"></span> Característica 3    <div class="valor">Valor</div></div>
        <div class="caracteristicas"><span class="dot"></span> Característica 4    <div class="valor">Valor</div></div>
      </div>


      <section class="interes">
        <div class="title-interes">
            TE PUEDE INTERESAR
        </div>
        <% products.forEach(element => { %>
         <div class="item-destacado">
            <img src="/img/products/<%= element.product_img %>" alt="">
            <div class="nombre">
                <a href="/product/detail/<%= element.id %>"><%= element.name %> </a>
            </div>
            <div class="precio">
               $ <%= element.price %> 
            </div>
        </div>
        <% }) %>
        
        
    </section>

    </main>

     <!-- footer -->
     <%- include('../partials/footer') %>
     <!-- footer -->
    
  </body>
</html>
