<!DOCTYPE html>
<html lang="es">

<head>

  <!-- metas and lynks -->
  <%- include('../partials/metasBasics') %>
    <!-- metas and lynks -->

    <link rel="stylesheet" href="/css/product/update.css" />
    <title>Inicio</title>
</head>

<body>

  <!-- header -->
  <%- include('../partials/header') %>
    <!-- header -->

    <main>
      <div class="container-product-update">
        <div class="title-update">
          EDITAR PRODUCTO: <%= product.name %>
        </div>
        <form class="form-product-update" action="/product/<%= product.id %>?_method=PUT" method="POST"
          enctype="multipart/form-data">
          <input type="text" name="name" placeholder="Nombre del producto" value="<%= product.name %>">
          <!-- <input type="text" placeholder="Categoría"> -->
          <select class="select" name="" id="">
            <option value="ninguno">Categoría:</option>
            <option value="ninguno">Ninguno</option>
            <option value="destacado">Destacado</option>
          </select>
          <!-- <input type="text" placeholder="Color"> -->
          <select class="select" name="" id="">
            <option value="ninguno">Color:</option>
            <option value="blue">Azul</option>
            <option value="red">Rojo</option>
            <option value="black">Negro</option>
            <option value="white">Blanco</option>
          </select>
          <!-- <input type="text" placeholder="Marca"> -->
          <select class="select" name="" id="">
            <option value="ninguno">Marca:</option>
            <option value="Iphone">Iphone</option>
            <option value="Xiaomi">Xiaomi</option>
            <option value="Samsung">Samsung</option>
            <option value="Motorola">Motorola</option>
          </select>
          <!-- <input type="text" placeholder="Memoria"> -->
          <select class="select" name="" id="">
            <option value="ninguno">Memoria:</option>
            <option value="4GB">4GB</option>
            <option value="8GB">8GB</option>
            <option value="16GB">16GB</option>
            <option value="32GB">32GB</option>
            <option value="64GB">64GB</option>
            <option value="128GB">128GB</option>
            <option value="256GB">256GB</option>
          </select>
          <input type="text" name="price" placeholder="Precio" value="<%= product.price %>">
          <snap class="file">Imagen del dispositivo:<input type="file" class="input-file" name="imgCel" id="imgsCel" accept="image/jpg, image/jpeg, image/png"></snap>
          <div class="btn-content"><button type="submit">EDITAR</button></div>
        </form>
      </div>
    </main>

    <!-- footer -->
    <%- include('../partials/footer') %>
      <!-- footer -->

</body>

</html>