<!DOCTYPE html>
<html lang="es">

<head>
    <!-- metas and lynks -->
    <%- include('./partials/metasBasics') %>
    <!-- metas and lynks -->

    <title>Inicio</title>
</head>

<body>

    <!-- header -->
    <%- include('./partials/header') %>
    <!-- header -->

    <main>

        <div class="slider">
            <% if (productPro) { %>
                <div class="up">
                    <div><img src="/img/products/<%= productPro.product_img %> " alt="imagen de teléfono"  srcset=""></div>
                </div>
                <div class="down">
                    <div class="nombre">
                        <label><%= productPro.name %></label>
                    </div>
                    <div>
                        <label class="precio"><%= productPro.price %></label>
                    </div>
                </div>
                <div><a href="/product/detail/<%= productPro.id %>">Ver más</a></div>
            <% } %>
            
        </div>
        <section class="checks">
            <div> <input type="radio" name="radio" id=""> </div>
            <div> <input type="radio" name="radio" id=""> </div>
            <div> <input type="radio" name="radio" id=""> </div>
        </section>

        <section class="destacados">
            <div class="title-destacados">
                DESTACADOS
            </div>
            <% products.forEach(element => { %>
             <div class="item-destacado">
                <img src="/img/products/<%= element.product_img %>" alt="">
                <div class="nombre">
                    <a href="/product/detail/<%= element.id %>"><%= element.name %> </a>
                </div>
                <div class="precio">
                   $ <%= element.price %> 
                </div>
            </div>
            <% }) %>
            
            
        </section>

        <br><br><br><br><br>
        <ul class="options">
            <li><a href="/user/register">Registro de usuario</a></li>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/categories">Categorías</a></li>
            <li><a href="/detail">Detalles del producto</a></li>
            <li><a href="/product/register">Registrar producto</a></li>
            <li><a href="/product/update">Actualizar producto</a></li>
        </ul>
        <br><br><br><br><br>
    </main>

    <!-- footer -->
    <%- include('./partials/footer') %>
    <!-- footer -->

</body>
</html>